[submodule "source/fpga_communication"]
	path = source/fpga_communication
	url = https://github.com/johonkanen/fpga_communication.git
[submodule "source/hVHDL_dynamic_model_verification_library"]
	path = source/hVHDL_dynamic_model_verification_library
	url = https://github.com/hVHDL/hVHDL_dynamic_model_verification_library
