BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "xclk" SITE "L19" ;
LOCATE COMP "ada_data" SITE "N19" ;
LOCATE COMP "ada_mux[0]" SITE "M19" ;
LOCATE COMP "ada_mux[1]" SITE "L20" ;
LOCATE COMP "ada_mux[2]" SITE "L18" ;
LOCATE COMP "adb_mux[0]" SITE "A18" ;
LOCATE COMP "adb_mux[1]" SITE "B20" ;
LOCATE COMP "adb_mux[2]" SITE "B19" ;
LOCATE COMP "rgb_led1[0]" SITE "P19" ;
LOCATE COMP "rgb_led1[1]" SITE "R18" ;
LOCATE COMP "rgb_led1[2]" SITE "P20" ;
LOCATE COMP "rgb_led2[0]" SITE "R20" ;
LOCATE COMP "rgb_led2[1]" SITE "T20" ;
LOCATE COMP "rgb_led2[2]" SITE "T19" ;
LOCATE COMP "rgb_led3[0]" SITE "U19" ;
LOCATE COMP "rgb_led3[1]" SITE "U17" ;
LOCATE COMP "rgb_led3[2]" SITE "U18" ;
LOCATE COMP "ada_cs" SITE "R17" ;
LOCATE COMP "ada_clock" SITE "M20" ;
LOCATE COMP "adb_clock" SITE "U20" ;
LOCATE COMP "adb_data" SITE "T17" ;
LOCATE COMP "adb_cs" SITE "N20" ;
LOCATE COMP "bypass_relay" SITE "A6" ;
LOCATE COMP "po_uart_tx_serial" SITE "A11" ;
LOCATE COMP "pi_uart_rx_serial" SITE "B9" ;
LOCATE COMP "llc_ad_cs" SITE "G1" ;
LOCATE COMP "llc_ad_clock" SITE "A4" ;
LOCATE COMP "dhb_ad_cs" SITE "H2" ;
LOCATE COMP "dhb_ad_clock" SITE "B1" ;
LOCATE COMP "ac1_switch" SITE "B8" ;
LOCATE COMP "ac2_switch" SITE "B17" ;
LOCATE COMP "llc_ad_data" SITE "C1" ;
LOCATE COMP "dhb_primary_high" SITE "K1" ;
LOCATE COMP "dhb_primary_low" SITE "J1" ;
LOCATE COMP "dhb_secondary_high" SITE "G2" ;
LOCATE COMP "dhb_secondary_low" SITE "D1" ;
LOCATE COMP "pri_high" SITE "H1" ;
LOCATE COMP "pri_low" SITE "K2" ;
LOCATE COMP "sync1" SITE "F1" ;
LOCATE COMP "sync2" SITE "A3" ;

IOBUF PORT "xclk"               IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_data"           IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_mux[0]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_mux[1]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_mux[2]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_mux[0]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_mux[1]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_mux[2]"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led1[0]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led1[1]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led1[2]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led2[0]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led2[1]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led2[2]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led3[0]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led3[1]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_led3[2]"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_cs"             IO_TYPE=LVCMOS33 ;
IOBUF PORT "ada_clock"          IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_clock"          IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_data"           IO_TYPE=LVCMOS33 ;
IOBUF PORT "adb_cs"             IO_TYPE=LVCMOS33 ;
IOBUF PORT "bypass_relay"       IO_TYPE=LVCMOS33 ;
IOBUF PORT "po_uart_tx_serial"  IO_TYPE=LVCMOS33 ;
IOBUF PORT "pi_uart_rx_serial"  IO_TYPE=LVCMOS33 ;
IOBUF PORT "llc_ad_cs"          IO_TYPE=LVCMOS33 ;
IOBUF PORT "llc_ad_clock"       IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_ad_cs"          IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_ad_clock"       IO_TYPE=LVCMOS33 ;
IOBUF PORT "ac1_switch"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "ac2_switch"         IO_TYPE=LVCMOS33 ;
IOBUF PORT "llc_ad_data"        IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_primary_high"   IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_primary_low"    IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_secondary_high" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dhb_secondary_low"  IO_TYPE=LVCMOS33 ;
IOBUF PORT "pri_high"           IO_TYPE=LVCMOS33 ;
IOBUF PORT "pri_low"            IO_TYPE=LVCMOS33 ;
IOBUF PORT "sync1"              IO_TYPE=LVCMOS33 ;
IOBUF PORT "sync2"              IO_TYPE=LVCMOS33 ;
